@import url("https://fonts.googleapis.com/css2?family=Jost&family=Montserrat+Alternates&family=Montserrat:ital,wght@0,400;1,400&family=Nunito:wght@200;300&family=PT+Sans+Narrow&family=Playfair+Display&family=Quicksand:wght@300&family=Quintessential&family=Raleway:wght@300;600&family=Roboto:ital,wght@0,700;1,100&family=Source+Serif+4:ital,opsz,wght@1,8..60,200&display=swap");

body {
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}
p{
    font-family: 'Nunito', sans-serif;
    
}
.username {
    font-family: 'Quintessential', cursive;
}

.btn{
    font-family: 'PT Sans Narrow', sans-serif;
}
.cover {
  background: rgb(47,99,62);
background: linear-gradient(90deg, rgba(47,99,62,1) 0%, rgba(112,105,68,1) 0%, rgba(80,85,130,1) 1%, rgba(207,81,98,1) 60%, rgba(51,59,92,1) 100%);
  width: 100vw;
  overflow-x: hidden;
  min-height: 100px;
  
}
/* 
font-family: 'Jost', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Quintessential', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Serif 4', serif; */
@media screen and (max-width: 660px) {
  .w-95 {
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
  }
}
